body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

/*
 * Create dark grey header with a white logo
 */

header {
  background-color: black;
  height: 5vw;
  width: 100vw;
  opacity: .9;
  margin-bottom: 5px;
}

header h1.logo {
  margin: 0;
  margin-left: 35px;
  font-size: calc(14px + 1vw);
  color: #fff;
  text-transform: uppercase;
  float: left;
}

header h1.logo:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Center the body content
 */

.container {
  width: 95vw;
  height: 50vh
  margin: auto;
  font-family: monospace;
}

/*
 * Display navigation links inline
 */

.menu {
  color: white;
  float: right;
  margin: 0;
  font-size: calc(14px + 1vw);
}

.menu li {
  display: inline;
}

.menu li + li {
  margin-left: 35px;
}

.menu li a {
  border-radius: 2px;
  padding: 3px 3px 3px 3px;
  color: #999;
  text-decoration: none;
}

.menu li a:hover {
  background-color: white;
}

div.jumbo {
  padding: 10px 10px 30px 10px;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

.buttonholder {
  text-align: center;
}

.startbutton {
  font-family: "Times New Roman", Times, serif;
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
  border-radius: 4px;
  background-color: #999;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.startbutton:hover {
  background-color: black;
}

h3 {
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

div.page {
  height: 85vh;
  width: 90vw;
  margin: auto;
  font-weight: normal;
  font-family: monospace;
  font-size: calc(12px + 1vw);
  padding: 30px 30px 30px 30px;
  color: #41FF00;
  background-color: black;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.page-button {
  font-family: monospace;
  font-size: calc(12px + 1vw);
  padding: 10px 10px 30px 10px;
  color: #41FF00;
  background-color: black;
  margin-top: 10px;
  text-align: center;
  border-style: dotted;
  border-radius: 4px;
  border: solid #000;
  padding: 5px 10px 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.page-button:hover {
  border-color: #41FF00;
}

body.page {
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
}

div.page-holder {
  background-color: black;
}